[Unit]
Description=Puma HTTP Server
Description=Puma23
After=network.target
Wants=mongod.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
